p{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F6F5DC;
}
.boardTitle{
  margin-left: 10px;
}
.navheader{
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navleft{
  display: flex;
  align-items: center;
}
.boardDesc{
  margin-left: 10px; 
}
.blueBtn{
  margin: 0 10px;
  background-color: transparent;
  border: 2px solid #109BF8 ;
  border-radius: 5px;
  padding: 2px 10px;
}
label{
  margin-right: 10px;
}
.close{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 18px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.board{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.boardcard{
  flex: 1;
  background-color: #F7F391;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}
.cardtext, .cardtextinput{
  width: 100%;
}
.cardtextinput{
  padding: 5px;
}
.cardtext{
  background-color: #ffffff;
  padding: 5px;
  position: relative;
  word-wrap: break-word;
  margin: 10px 0;
}
.cardtextdelete{
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
}
.colHover{
  background-color: #FCE088;
  margin-bottom: 15px;
}
@media screen and (max-width: 967px) {
  .boardcard {
    flex: none;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .navheader{
    flex-wrap: wrap-reverse;
    justify-content: start;
  }
}